<%= turbo_frame_tag "remote_modal" do %>
  <div class="modal fade" id="shareRecipeModal" tabindex="-1" aria-labelledby="newAddressRemoteModalLabel" aria-hidden="true" data-controller="remote-modal" data-action="turbo:before-render@document->remote-modal#hideBeforeRender">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content" id="modal_content">
        <div class="modal-header">
          <h4 class="modal-title" id="newAddressRemoteModalLabel"><%= title %></h4>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Sair"></button>
        </div>
        <div class="modal-body remote_modal_body" id="remote_modal_body">
          <%= yield %>
        </div>
      </div>
    </div>
  </div>
<% end %>

<script>
$(document).ready(function() {
  $("#address_postal_code").blur(function(){
    var cep = this.value.replace(/[^0-9]/, "");

    if(cep.length != 8){
      return false;
    }
    var url = "https://viacep.com.br/ws/"+cep+"/json/";

    $.getJSON(url, function(dadosRetorno){
      try{
        $("#address_address").val(dadosRetorno.logradouro);
        $("#address_address_complement").val(dadosRetorno.complemento);
        $("#address_neighborhood").val(dadosRetorno.bairro);
        $("#address_city").val(dadosRetorno.localidade);
        $("#address_state").val(dadosRetorno.uf);
        $("#address_ibge_code").val(dadosRetorno.ibge);
      }catch(ex){}
    });
  });
});
</script>