<h1>Novo Endereço</h1>

<%= render "remote_modal", title: "Novo Endereço" do %>
  <%= render "form", address: @address %>
<% end %>

<br>

<div>
  <%#= link_to "Back to addresses", addresses_path %>
</div>
